*{
	margin:0;
	padding: 0;
}

/* header section */
header{
	width:100%;
	height:130px;;
}
.header-content{
	width:100%;
	height:130px;
	background-color:#C0C0C0;
	display: inline-block;
}
.logo{
	width:30%;
	height:130px;
	float:left;

}
.logo img{
	width:59%;
	margin-top:35px;
	margin-left:20px;
}
.header-menu{
	width:50%;
	height: 130px;
	float:right;
}
.header-menu ul{
	list-style: none;
	margin: 35px 0;
	margin-left:39%;
}
.header-menu ul li{
	float:left;
	color:#1167b1;
	margin: 10px;
	font-size:20px;
}
/* banner section */
.banner{
	width:100%;
	height:600px;
	background-image:url(images/img-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container{
	width:75%;
	margin: 0 auto;
}
.banner-text{
	width: 350px;
	display: inline-block;
    margin-top: 160px;
    margin-right:15px;
    margin-left:20px;
    height: 200px;
    background-color: rgba(0, 0, 0, .7);
    padding: 55px;
    border-radius:30px;
    border: 1px solid white;

}
.banner-text h1{
	color:white;
	font-size:50px;
}
.banner-text p{
	color:white;
	margin-top: 9%;
}
.features{
	width: 100%;
	height: 450px;
	background-image: url('images/img-2.jpg');
	background-size: cover;
	background-position: center;
}
.feature-text{
	width:150px;
	height:200px;
	display: inline-block;
	margin: 0 45px;
	background-color: rgba(0,35,102,.5);
	padding: 45px;
	border-radius: 10px;
	border: 2px solid black;
}

.container h2{
	text-align: center;
	background-color:#1167b1;
	border-radius: 5px;
	border: 2px solid black;
	color:white;
}
.feature-text{
	margin-top: 8%;
	color: white;
}
.feature-text ol{
	margin-top: 20px;
}
.about-us{
	width: 100%;
    height: 400px;
    display: inline-block;
    padding: 50px 0;
    background-color:silver;
}
.about-text img{
	width: 500px;
    height: 200px;
}
.btn{
	background-color: rgb(50, 116, 109);
    border: none;
    padding: 10px 37px;
    margin: 2px 0;
    border-radius: 8px;
}
.btn a{
	text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer{
	width: 100%;
	height: 200px;
	background-image: url(images/img-3.jpg);
	margin:0 auto;
}
.footer-text{
	width:700px;
	height: 150px;
}
.contact{
	width:280px;
	height: 100px;
	margin:20px 10px;
	display: inline-block;
	background-color:silver;
	border: 2px solid black;
	float:right;
}
.contact h3{
	margin-top:10px;
	margin-left:20px; 
}
.contact p{
	margin-top:10px;
	margin-left:70px;
}
.marquee{
	color:black;
	width:100%;
	height:20px;
	background-color: silver;
	font-size:20px;
	border:1px solid black;
}